:root {
    --primary-red: red;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(235, 230, 230, 0.76);
}

/* nav bar started */

nav {
    height: 3.5rem;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

brand,
.nav-login,
.main-content {
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav-login {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px;
    font-size: medium;
    background-color: var(--primary-red);
    color: white;
}

.brand-last-name {
    color: var(--primary-red);
}

.label {
    display: block;
    padding-bottom: 5px;
}

.new-playlist-box {
    background-color: white;
    margin-top: 4rem;
    height: 12rem;
    width: 23rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.new-playlist-box button {
    display: block;
    background-color: rgb(4, 119, 226);
    height: 2rem;
    color: white;
    border: transparent;
    width: 70%;
    border-radius: 5px;
}

.playlist-input-container {
    display: flex;
    justify-content: center;
}

.input-label {
    width: 70%;
}

.input-label input {
    height: 1.5rem;
    padding-left: 1rem;
}