:root {
  --primary-red: red;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(235, 230, 230, 0.76);
}

/* nav bar started */

nav {
  height: 3.5rem;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

brand,
.nav-login,
.main-content {
  margin-left: 3rem;
  margin-right: 3rem;
}

.nav-login {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px;
  font-size: medium;
  background-color: var(--primary-red);
  color: white;
}

.brand-last-name {
  color: var(--primary-red);
}

/* header started */

.header-image {
  margin-top: 1rem;
  height: 14rem;
  width: 100%;
  background-color: #081f30;
  margin-bottom: 1rem;
  position: relative;
}

.latest-video-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 14rem;
  width: 40rem;
}

.latest-video-info {
  position: absolute;
  color: white;
  top: 15%;
  left: 6%;
}

.latest-video-info * {
  padding: 5px;
}

.latest-video-info button {
  background-color: orangered;
  color: white;
  border: transparent;
  margin-top: 10px;
}







.must-watch {
  margin-bottom: 1rem;
}

/* card start */
.all-cards-home {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.video-card {
  height: 13rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  height: 7rem;
  width: 100%;
  background-color: aqua;
}

.card-title,
.card-views {
  margin: 5px;
}

.card-views {
  display: flex;
}

.card-watch-button {
  width: 100%;
  padding: 8px 0px;
  text-align: center;
  border: transparent;
  background-color: rgb(146, 144, 144);
  color: white;
}